{% extends "cartest/base.html"%}
{% block content %}
	<ul class="nav nav-pills">

		<li><a href="http://www.baidu.com/">检测流程</a></li>
		<li class="active"><a href="http://www.baidu.com/">车辆登记</a></li>
		<li><a href="http://www.baidu.com/">车辆查询</a></li>
	</ul>
	</br>
    <div class="container">
      <form class="form-signin" method="post">
	{% csrf_token %}
        <h2 class="form-signin-heading">请输入您的个人信息</h2>
		</br>
		<div class="input-group">
			<label for="inputEmail" class="sr-only">用户名</label>
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			<input type="text" id="inputEmail" name = "Username" class="form-control" placeholder="用户名" required autofocus>
		</div>
		</br>
		<div class="input-group">
        <label for="inputPassword" class="sr-only">手机号码</label>
		<span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
        <input type="text" id="inputPassword"  name="phone_number" maxlength=11 class="form-control" placeholder="手机号码" required>
		</div>
		</br>
		<div class="input-group">
		<label for="inputPassword" class="sr-only">车牌号</label>
		<span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
        <input type="text"  maxlength=7 id="inputPassword"  name = "car_number" class="form-control" placeholder="车牌号" required>
		</div>
		</br>
		<div class="input-group">
		<label for="inputPassword" class="sr-only">地址</label>
		<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
        <input type="text" id="inputPassword"  name = "address" class="form-control" placeholder="取车地址" required>
		</div>
	
        <div class="checkbox">
	
          <label>
            <input type="checkbox" value="remember-me"> 还车地址是否一致
          </label>
        </div>
	   <div class="form-group marb8 captcha1 ">
        				{{ index_form.captcha }}
				</br>
					{{index_form.error.captcha}}
                        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交订单</button>
	{{msg}}
      </form>
	</br>
    </div> <!-- /container -->
{% endblock%}
